<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
      <!-- Logo Header -->
      <div class="logo-header" data-background-color="dark">
        <a href="/" class="">
          <span class="fa-solid fa-scissors"></span> SEA SALON
        </a>
        <div class="nav-toggle">
          <button class="btn btn-toggle">
            <i class="gg-menu-right"></i>
          </button>
          <button class="btn btn-toggle sidenav-toggler">
            <i class="gg-menu-left"></i>
          </button>
        </div>
        <button class="topbar-toggler more">
          <i class="gg-more-vertical-alt"></i>
        </button>
      </div>
      <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
      <div class="sidebar-content">
        <ul class="nav nav-secondary">
          <li class="nav-item active">
            <a
              href="#dashboard"
              class="collapsed"
            >
              <i class="fas fa-home"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#dashboard"
              class="collapsed"
            >
              <i class="fas fa-map-marked-alt"></i>
              <p>Manage Branch</p>
            </a>
          </li>
          <li class="nav-item">
            <a
              href="#dashboard"
              class="collapsed"
            >
              <i class="fas fa-plus"></i>
              <p>Manage Service</p>
            </a>
          </li>
          
        </ul>
      </div>
    </div>
  </div>