<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./dashboard/head') %>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <%- include('./dashboard/sidebar') %>
      <!-- End Sidebar -->

      <div class="main-panel">
        <%- include('./dashboard/header') %>

        <div class="container">
          branch
          </div>
        </div>

      </div>

    </div>
    <%- include('./dashboard/foot') %>
  </body>
</html>
