<section class="hero-wrap js-fullheight" style="background-image: url(images/bg.jpg);" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
        <div class="col-lg-12 ftco-animate d-flex align-items-center">
            <div class="text text-center">
                <span class="subheading">Welcome to SEA Salon</span>
                        <h1 class="mb-4">Beauty and Elegance Redefined</h1>
                        <p><a href="/reservation" class="btn btn-primary btn-outline-primary px-4 py-2">Book now</a></p>
                          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      
  <section class="services-section ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
        <div class="col-md-10 heading-section text-center ftco-animate">
          <h2 class="mb-4">Services</h2>
          <p>We serve the best services in the town.</p>
        </div>
      </div>
      <div class="row no-gutters d-flex">
        <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon"><span class="flaticon-male-hair-of-head-and-face-shapes"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Haircuts &amp; Styling</h3>
              <p>Offering a variety of haircuts and styling options to suit your preferences.</p>
            </div>
          </div>    
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon"><span class="flaticon-beauty-products"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Facial Treatments</h3>
              <p>Experience refreshing facial treatments that leave your skin radiant and glowing.</p>
            </div>
          </div>      
        </div>
        <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
          <div class="media block-6 services d-block text-center">
            <div class="icon"><span class="flaticon-healthy-lifestyle-logo"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Manicure &amp; Pedicure</h3>
              <p>Professional manicure and pedicure services to enhance the beauty of your nails.</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
          <div class="row no-gutters justify-content-center mb-5 pb-2">
        <div class="col-md-6 text-center heading-section ftco-animate">
            <!-- <span class="subheading">Gallery</span> -->
          <h2 class="mb-4">Gallery</h2>
          <p>Each image in our gallery showcases the exceptional results we 
              deliver, making our clients look and feel their best. Get inspired for your next visit!.</p>
        </div>
      </div>
      </div>
          <div class="container-fluid p-0">
          <div class="row no-gutters">
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-1.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Stylist</span>
                          <h3><a href="project.html">Beard</a></h3>
                      </div>
                      <a href="images/work-1.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-2.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Beauty</span>
                          <h3><a href="project.html">Haircut</a></h3>
                      </div>
                      <a href="images/work-2.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-3.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Beauty</span>
                          <h3><a href="project.html">Hairstylist</a></h3>
                      </div>
                      <a href="images/work-3.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-4.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Beauty</span>
                          <h3><a href="project.html">Haircut</a></h3>
                      </div>
                      <a href="images/work-4.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-5.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Beauty</span>
                          <h3><a href="project.html">Makeup</a></h3>
                      </div>
                      <a href="images/work-5.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-6.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Fashion</span>
                          <h3><a href="project.html">Model</a></h3>
                      </div>
                      <a href="images/work-6.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-7.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Beauty</span>
                          <h3><a href="project.html">Makeup</a></h3>
                      </div>
                      <a href="images/work-7.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 ftco-animate">
                  <div class="project">
                      <img src="images/work-8.jpg" class="img-fluid" alt="Colorlib Template">
                      <div class="text">
                          <span>Beauty</span>
                          <h3><a href="project.html">Makeup</a></h3>
                      </div>
                      <a href="images/work-8.jpg" class="icon image-popup d-flex justify-content-center align-items-center">
                          <span class="icon-expand"></span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
      </section>
      
      <section class="ftco-section ftco-pricing">
          <div class="container">
              <div class="row justify-content-center pb-3">
        <div class="col-md-10 heading-section text-center ftco-animate">
            <span class="subheading">Pricing</span>
          <h2 class="mb-4">Our Prices</h2>
          <p>Experience exceptional quality and care across all our services, tailored to enhance your natural beauty and well-being.</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4 ftco-animate">
              <div class="pricing-entry pb-5 text-center">
                  <div>
                      <h3 class="mb-4">Hair Style</h3>
                      <p><span class="price">Rp. 50.000,00</span> <span class="per">/ session</span></p>
                  </div>
                  <ul>
                      <li>Hair Dryer</li>
                              <li>Hair Coloring</li>
                              <li>Hair Cut</li>
                              <li>Hair Dresser</li>
                              <li>Hair Spa</li>
                  </ul>
                  <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
              </div>
          </div>
          <div class="col-md-4 ftco-animate">
              <div class="pricing-entry pb-5 text-center">
                  <div>
                      <h3 class="mb-4">Manicure Pedicure</h3>
                      <p><span class="price">Rp. 125.000,00</span> <span class="per">/ session</span></p>
                  </div>
                  <ul>
                      <li>Manicure</li>
                              <li>Pedicure</li>
                              <li>Coloring</li>
                              <li>Nails</li>
                              <li>Nail Cut</li>
                  </ul>
                  <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
              </div>
          </div>
          <div class="col-md-4 ftco-animate">
              <div class="pricing-entry pb-5 text-center">
                  <div>
                      <h3 class="mb-4">Facial Treatment</h3>
                      <p><span class="price">Rp 250.000,00</span> <span class="per">/ session</span></p>
                  </div>
                  <ul>
                      <li>Deep Cleansing</li>
                              <li>Hydrating Mask</li>
                              <li>Exfoliation</li>
                              <li>Anti-Aging Treatment</li>
                              <li>Relaxing Facial Massage</li>
                  </ul>
                  <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
              </div>
          </div>
      </div>
          </div>
      </section>

      <section class="testimony-section bg-light">
    <div class="container">
      <div class="row ftco-animate justify-content-center">
          <div class="col-md-6 col-lg-5 d-flex">
              <div class="testimony-img" style="background-image: url(images/testimony-img.jpg);"></div>
          </div>
        <div class="col-md-6 col-lg-7 py-5 pl-md-5">
            <div class="py-md-5">
                <div class="heading-section ftco-animate">
                    <span class="subheading">Testimony</span>
                    <h2 class="mb-0">What Our Customers Say</h2>
                  </div>
              <div class="carousel-testimony owl-carousel ftco-animate">
                <% for (let i=0; i<reviews.length; i++ ) { %>
                <div class="item">
                  <div class="testimony-wrap pb-4">
                    <div class="text">
                      <p class="mb-2 mt-2"><%= `${reviews[i].comment}` %></p>
                    </div>
                    <div class="d-flex">
                        <div class="pos ">
                            <p class="name"><%= `${reviews[i].name}` %></p>
                            <% for (let j = 1; j <= 5; j++) { %>
                              <span class="fa fa-star <%= j <= reviews[i].rating ? 'checked' : '' %>"></span>
                            <% } %>
                        </div>
                      </div>
                  </div>
                </div>
                <% } %>
              </div>
              <div class="mt-3 ftco-animate">
                  <p><button id="review-add-btn" class="btn btn-primary btn-outline-primary">Leave us a review</button></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

  <div id="modal" role="dialog" aria-modal="true" aria-labelledby="add-review-header" class="">
    <button class="close-btn" aria-label="close" title="Close">x</button>
    <div id="review-form-container">
      <h2 id="add-review-header">Add Review</h2>
      <form class="form-modal" id="review-form" class="p-4" action="/review" method="POST">
        <div class="fieldset">
          <label for="reviewName">Name</label>
          <input name="reviewName" id="reviewName" required="">
        </div>
        <div class="fieldset ">
          <label>Rating</label>
          <div class="rate">
            <input type="radio" id="star5" name="rate" value="5" onkeydown="navRadioGroup(event)" onfocus="setFocus(event)" required="">
            <label for="star5" title="5 stars">5 stars</label>
            <input type="radio" id="star4" name="rate" value="4" onkeydown="navRadioGroup(event)">
            <label for="star4" title="4 stars">4 stars</label>
            <input type="radio" id="star3" name="rate" value="3" onkeydown="navRadioGroup(event)">
            <label for="star3" title="3 stars">3 stars</label>
            <input type="radio" id="star2" name="rate" value="2" onkeydown="navRadioGroup(event)">
            <label for="star2" title="2 stars">2 stars</label>
            <input type="radio" id="star1" name="rate" value="1" onkeydown="navRadioGroup(event)" onfocus="setFocus(event)">
            <label for="star1" title="1 star">1 star</label>
          </div>
        </div>
  
        <div class="fieldset">
          <label for="reviewComments">Comments</label>
          <textarea name="reviewComments" id="reviewComments" cols="20" rows="5" required="" maxlength="200"></textarea>
        </div>
        <div class="fieldset right">
          <button id="submit-review-btn" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-overlay"></div>

  <script>
    let focusedElementBeforeModal;
    const modal = document.getElementById('modal');
    const modalOverlay = document.querySelector('.modal-overlay');

    window.onload = () => {
    const addReview = document.getElementById('review-add-btn');
    addReview.id = 'review-add-btn';
    addReview.innerHTML = 'Leave us a review';
    addReview.setAttribute('aria-label', 'add review');
    addReview.title = 'Add Review';
    addReview.addEventListener('click', openModal);
    } 

    const openModal = () => {
    // Save current focus
    focusedElementBeforeModal = document.activeElement;

    // Listen for and trap the keyboard
    modal.addEventListener('keydown', trapTabKey);

    // Listen for indicators to close the modal
    modalOverlay.addEventListener('click', closeModal);
    // Close btn
    const closeBtn = document.querySelector('.close-btn');
    closeBtn.addEventListener('click', closeModal);

    // submit form
    // const form = document.getElementById('review-form');
    // form.addEventListener('submit', submitAddReview, false);

    // Find all focusable children
    var focusableElementsString = 'a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [tabindex="0"], [contenteditable]';
    var focusableElements = modal.querySelectorAll(focusableElementsString);
    // Convert NodeList to Array
    focusableElements = Array.prototype.slice.call(focusableElements);

    var firstTabStop = focusableElements[0];
    var lastTabStop = focusableElements[focusableElements.length - 1];

    // Show the modal and overlay
    modal.classList.add('show');
    modalOverlay.classList.add('show');

    // Focus first child
    // firstTabStop.focus();
    const reviewName = document.getElementById('reviewName');
    reviewName.focus();

    function trapTabKey(e) {
    // Check for TAB key press
    if (e.keyCode === 9) {

    // SHIFT + TAB
    if (e.shiftKey) {
        if (document.activeElement === firstTabStop) {
        e.preventDefault();
        lastTabStop.focus();
        }

    // TAB
    } else {
        if (document.activeElement === lastTabStop) {
        e.preventDefault();
        firstTabStop.focus();
        }
    }
    }

    // ESCAPE
    if (e.keyCode === 27) {
    closeModal();
    }
    }
    };

    // const submitAddReview = (e) => {
    // // console.log(e);
    // console.log('Form subbmitted!');
    // e.preventDefault();
    // closeModal();
    // };

    const closeModal = () => {
    // Hide the modal and overlay
    modal.classList.remove('show');
    modalOverlay.classList.remove('show');

    const form = document.getElementById('review-form');
    form.reset();
    // Set focus back to element that had it before the modal was opened
    focusedElementBeforeModal.focus();
    };

    const setFocus = (evt) => {
    const rateRadios = document.getElementsByName('rate');
    const rateRadiosArr = Array.from(rateRadios);
    const anyChecked = rateRadiosArr.some(radio => { return radio.checked === true; });
    // console.log('anyChecked', anyChecked);
    if (!anyChecked) {
    const star1 = document.getElementById('star1');
    star1.focus();
    // star1.checked = true;
    }
    };

    const navRadioGroup = (evt) => {
    // console.log('key', evt.key, 'code', evt.code, 'which', evt.which);
    // console.log(evt);

    const star1 = document.getElementById('star1');  
    const star2 = document.getElementById('star2');  
    const star3 = document.getElementById('star3');  
    const star4 = document.getElementById('star4');  
    const star5 = document.getElementById('star5');  

    if (['ArrowRight', 'ArrowLeft', 'ArrowDown', 'ArrowUp'].includes(evt.key)) {
    evt.preventDefault();
    // console.log('attempting return');
    if (evt.key === 'ArrowRight' || evt.key === 'ArrowDown') {
    switch(evt.target.id) {
        case 'star1':
        star2.focus();
        star2.checked = true;
        break;
        case 'star2':
        star3.focus();
        star3.checked = true;
        break;
        case 'star3':
        star4.focus();
        star4.checked = true;
        break;
        case 'star4':
        star5.focus();
        star5.checked = true;
        break;
        case 'star5':
        star1.focus();
        star1.checked = true;
        break;
    }
    } else if (evt.key === 'ArrowLeft' || evt.key === 'ArrowUp') {
    switch(evt.target.id) {
        case 'star1':
        star5.focus();
        star5.checked = true;
        break;
        case 'star2':
        star1.focus();
        star1.checked = true;
        break;
        case 'star3':
        star2.focus();
        star2.checked = true;
        break;
        case 'star4':
        star3.focus();
        star3.checked = true;
        break;
        case 'star5':
        star4.focus();
        star4.checked = true;
        break;
    }
    }
    }
    };
    </script>