<section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg-2.jpg'); height: 90px ;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
    </div>
  </section>

  <section class="ftco-section ftco-booking bg-light">
      <div class="container ftco-relative">
          <div class="row justify-content-center pb-3">
        <div class="col-md-10 heading-section text-center ftco-animate">
            <span class="subheading">Booking</span>
          <h2 class="mb-4">Make an Appointment</h2>
          <p>We look forward to welcoming you to our salon and providing you with an
             exceptional beauty experience. Book your appointment today and let us take care of the rest!
          </p>
        </div>
      </div>
      <h3 class="vr">Call Us: +62 812-3456-789</h3>
          <div class="row justify-content-center">
              <div class="col-md-10 ftco-animate">
                  <form action="/reservation/add" method="POST" class="appointment-form">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                        <input type="text" class="form-control" id="appointment_name" placeholder="Name" name="name">
                      </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                        <input type="number" class="form-control" id="appointment_phone" placeholder="Phone Number" name="phone">
                      </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control appointment_date" placeholder="Date" name="date">
                  </div>    
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" class="form-control appointment_time" placeholder="Time" name="time">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                        <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="service" id="" class="form-control">
                        <option value="">Haircuts & Styling</option>
                        <option value="">Facial Treatments</option>
                      <option value="">Manicure & Pedicure</option>
                    </select>
                  </div>
                      </div>
                </div>
                </div>
                <div class="form-group">
                <input type="submit" value="Make an Appointment" class="btn btn-primary">
              </div>
            </form>
              </div>
          </div>
      </div>
  </section>