<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./dashboard/head') %>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar -->
      <%- include('./dashboard/sidebar') %>
      <!-- End Sidebar -->

      <div class="main-panel">
        <%- include('./dashboard/header') %>

        <div class="container">
          <div class="page-inner">
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header">
                    <div class="card-title">Create New Services</div>
                  </div>
                  <div class="card-body">
                    <form action="/services/create" method="POST">
                    <div class="row">
                      <div class="col-md-12 col-lg-12">
                        <div class="form-floating form-floating-custom mb-3">
                          <input
                            type="text"
                            class="form-control"
                            id="floatingInput"
                            placeholder="service name"
                            name="nameService"
                            required
                          />
                          <label for="floatingInput">Service Name</label>
                        </div>
                        <div class="form-floating form-floating-custom mb-3">
                          <input
                            type="number"
                            class="form-control"
                            id="floatingInput"
                            placeholder="price"
                            name="price"
                            required
                          />
                          <label for="floatingInput">Price</label>
                        </div>
                        <div class="form-floating form-floating-custom mb-3">
                          <input
                            type="number"
                            class="form-control"
                            id="floatingInput"
                            placeholder="duration"
                            name="duration"
                            required
                          />
                          <small class="form-text text-muted"
                            >*Duration is in minutes!.</small
                          >
                          <label for="floatingInput">Duration</label>
                        </div>

                      </div>
                    </div>
                    <div class="card-action">
                      <button class="btn btn-success" type="submit">Submit</button>
                    </div>
                  </form>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
    <%- include('./dashboard/foot') %>
  </body>
</html>
