<footer class="ftco-footer ftco-section">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2 logo">Haircare</h2>
            <p>Welcome to SEA Salon, where beauty meets excellence. We offer a range of top-quality services designed 
                to make you look and feel your best. </p>
            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
              <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
              <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4 ml-md-5">
            <h2 class="ftco-heading-2">Information</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">FAQs</a></li>
              <li><a href="#" class="py-2 d-block">Privacy</a></li>
              <li><a href="#" class="py-2 d-block">Terms Condition</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md">
           <div class="ftco-footer-widget mb-4">
            <h2 class="ftco-heading-2">Links</h2>
            <ul class="list-unstyled">
              <li><a href="#" class="py-2 d-block">Home</a></li>
              <li><a href="#" class="py-2 d-block">Services</a></li>
              <li><a href="/reservation" class="py-2 d-block">Reservation</a></li>
            </ul>	
          </div>
        </div>
        <div class="col-md">
          <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Have a Questions?</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><a href=""><span class="icon icon-map-marker"></span><span class="text">Pekanbaru, Indonesia</span></a></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">Thomas : +62 812-3456-789</span></a></li>
                  <li><a href="#"><span class="icon icon-phone"></span><span class="text">Sekar : +62 816-4829-372</span></a></li>
                  <li><a href="#"><span class="icon icon-envelope"></span><span class="text">m.fadhil238@gmail.com</span></a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">

          <p>Copyright &copy;2024 All rights reserved</p>
        </div>
      </div>
    </div>
  </footer>